*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header{
    background-color: rgb(37, 94, 233);
}

.botton1{
    border-radius:25px;
    padding: 5px;
}

.b-image-jumbo{
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.content{
    width: 30%;
    line-height: normal;
    padding: 10px;
}

.content1{
    width: 20%;
    height: fit-content;
}

.content-left-right{
    width: 40%;
    border: dotted black;
    height: fit-content;
}

.container{
    height: 100px;
    align-items: center;
    max-width: 80%;
}

/*main*/

/*primo 1*/
.container-orizzontal1{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 80px;
}

.content3{
    width: 60%;
    height: 80%;
    padding: 20px;
}


/*secondo/terzo/quarto*/

.content2{
    width: 50%;
    height: 80%;
    padding: 20px;
}

.content4{
    width: 30%;
    height: 80%;
    padding: 20px;
}

/*quinto*/

.container-orizzontal{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 80px;
}

.content5{
    width: 80%;
    height: 80%;
}

.backimage-text{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*sesto*/
.content6{
    width: 30%;
    height: 80%;
    margin: 0;
    padding: 20px;
}

.content7{
    width: 50%;
    height: 80%;
    margin: 0;
    display: flex;
    padding: 20px;
}

.container-orizzontal2{
    margin-left: 10%;
    display: inline-flex;
    padding-top: 10px;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    /*max-width: 1200px;*/
    justify-content: center;
}

.max-wid{
    width: 25%;
    height: 99%;
    margin: 0;
}

.font-image1{
    font-size: 10px;
}


/*footer*/

footer{
    height: 100px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}
.container-foot{
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    border-top: solid 2px rgb(98, 140, 247);
    
}


.content-foot{
    margin-left: 0;
    margin-right: 0;
}

/*utility*/

.margin-right{
    margin-right: 0;
}

.margin-left{
    margin-left: 0;
}

.padding-botton{
    padding-bottom: 100px;
}

li{
    padding-top: 10px;
}

.padding-10{
    padding: 10px;
}

.t-right{
    text-align: right;
}

.t-center{
    text-align: center;
}

.t-left{
    text-align: left;
    
}

.d-flex{
    display: flex;
}

.d-flex1{
    display: inline-flex;
    align-items: center;
}

.flex-wrap{
    flex-wrap: nowrap;
}

.font-atkhinson{
    font-family: "Atkinson Hyperlegible Next", serif;
    font-optical-sizing: auto;
}

.sizefont-25{
    font-size:25px;
    padding:10px;
}

.sizefont-35{
    font-size:35px;
    padding:10px;
}

.sizefont-45{
    font-size:45px;
    padding: 10px;
}



.botton{
    border-radius: 25px;
    padding: 10px;
    margin: 10px
}

.text{
    justify-content: center;
    display: grid;
}

.list-s{
    list-style: none;
}


/*colors*/

.bcolor-red{
    background-color: red;
}

.bcolor-blue{
    background-color: blue;
}

.bcolor-skyblue{
    background-color: skyblue;
}

.bcolor-royalblue{
    background-color: royalblue;
}

.bcolor-acquamarine{
    background-color: aquamarine;
}


.bcolor-green{
    background-color: green;
}

.bcolor-olivedrab{
    background-color: rgb(6, 152, 147);
}

.bcolor-gold{
    background-color: goldenrod;
}

.bcolor-rosybrown{
    background-color: rosybrown;
}

.bcolor-pink{
    background-color: pink;
}

.bcolor-white{
    background-color: white;
}

.bcolor-grey{
    background-color: rgb(228, 225, 225);
}

.bcolor-black{
    background-color: rgb(32, 32, 32);
}

.color-white{
    color: white;
}

.bcolor-header-blu{
    background-color: rgb(98, 140, 247);
}

.color-header-blu{
    color: rgb(98, 140, 247);
}
